:root{

    /*******color*******/
    --color-primary: #00bcd4;
    --color-secondary: #fafafa;
    --color-tertiary: #fafafa;
    --color-quaternary: #fafafa;
    --color-quinary: #fafafa;
    --color-senary: #fafafa;
    --color-septenary: #fafafa;
    --color-octonary: #fafafa;
    --color-nonary: #fafafa;
    --color-denary: #fafafa;
    --color-primary-dark: #00bcd4;
    --color-secondary-dark: #fafafa;
    --color-tertiary-dark: #fafafa;
    --color-quaternary-dark: #fafafa;
    --color-quinary-dark: #fafafa;
    --color-senary-dark: #fafafa;
    --color-septenary-dark: #fafafa;
    --color-octonary-dark: #fafafa;
    --color-nonary-dark: #fafafa;
    --color-denary-dark: #fafafa;
    --color-primary-light: #00bcd4;
    --color-secondary-light: #fafafa;
    --color-tertiary-light: #fafafa;
    --color-quaternary-light: #fafafa;
    --color-quinary-light: #fafafa;
    --color-senary-light: #fafafa;
    --color-septenary-light: #fafafa;
    --color-octonary-light: #fafafa;
    --color-nonary-light: #fafafa;
    --color-denary-light: #fafafa;
    --color-primary-text: #fafafa;
    --color-secondary-text: #fafafa;
    --color-tertiary-text: #fafafa;
    --color-quaternary-text: #fafafa;

    /*******font-size*******/
    --font-primary: 'Roboto', sans-serif;
    --font-title:3rem;
    --font-subtitle:1.6rem;
    --font-text:1.2rem;
    --font-text-small:1rem;
   
    /*******font-weight*******/
    --font-weight-first: 600;
    --font-weight-second: 500;
    --font-weight-third: 400;
    
    --mb-30:3rem;
    --mb-20:2rem;
    --mb-10:1rem;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--font-primary);
    font-size: 62.5%;
}