:root{

    /*******color*******/
    --color-primary: #ff4500;
    --color-secondary: #da4109;
    --color-primary-text: #333;
    --color-secondary-text: #1c1c1c;
    --white-color: #fff;
    --black-color: #000;
   

    /*******font-size*******/
    --font-primary: 'Roboto', sans-serif;
    --font-title:3rem;
    --font-subtitle:1.6rem;
    --font-text:1.2rem;
    --font-text-small:1rem;
   
    /*******font-weight*******/
    --font-weight-first: 600;
    --font-weight-second: 500;
    --font-weight-third: 400;

    /*******border radius*******/
    --radius-first: 1rem;
    --radius-second: 0.8rem;
    --radius-third: 0.5rem;

 /*******margin bottom*******/
    --mb-30:3rem;
    --mb-20:2rem;
    --mb-10:1rem;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--font-primary);
    font-size: 62.5%;
}

.section{
    margin-bottom: var(--mb-30);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}
