:root{

    /*******color*******/
    --color-primary: #ff4500;
    --color-secondary: #da4109;
    --color-primary-text: #10304c;
    --color-secondary-text: #1c1c1c;
    --white-color: #fff;
    --black-color: #000;
   

    /*******font-size*******/
    --font-primary: 'Roboto', sans-serif;
    --font-title:3rem;
    --font-subtitle:1.6rem;
    --font-text:1.2rem;
    --font-text-small:1rem;
   
    /*******font-weight*******/
    --font-weight-first: 600;
    --font-weight-second: 500;
    --font-weight-third: 400;

    /*******border radius*******/
    --radius-first: 1rem;
    --radius-second: 0.8rem;
    --radius-third: 0.5rem;

 /*******margin bottom*******/
    --mb-30:3rem;
    --mb-20:2rem;
    --mb-10:1rem;

    --height-header: 126px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html{
    font-family: var(--font-primary);
    scroll-behavior: smooth;
    
    font-size: 62.5%;


}

.section{
    margin-bottom: var(--mb-30);
}

.margin-header{
    margin-top:var(--height-header);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: var(--radius-third);
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: var(--font-text);
    font-weight: var(--font-weight-first);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    /* transform: scale(1.1); */

    filter: brightness(0.9);
}
.btn.primary {
    background-color: var(--color-primary);
    color: var(--white-color);
}
.product{
    /* min-height: 480px ; */
    max-height: 480px ;
}
.product__item{
display: flex;
flex-direction: column;

box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
border-radius: 6px;
padding:4px
}
.product__image{
    position: relative;
    overflow: hidden;
    max-height: 500px;
  
}

.product-isSale::before{
    content: attr(data-sale);
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 3;
    padding: 10px 0 0;
    border-radius: 0 0 15px 15px;
    height: 45px;
    text-align: center;
    width: 45px;
    line-height: 13px;
    color: #fff;
    background-image: url(../img/download.svg);
    font-weight: bold;
    font-size: 12px;
    background-size: contain;
    background-repeat: no-repeat;
}
.product__image-main{
transition: all 0.3s ease-in-out;
}


.product__image-more{
    position: absolute;
    width: 100%;
  
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;

}


.product__image:hover .product__image-more{
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);

}
.product__image:hover .product__image-main{
    opacity: 0;


    }
.product__info{
    padding: 12px 0;
    text-align: center;
}
.product__info-name h3{
    margin: 0 0 5px;
    position: relative;
    min-height: 18px;
}
.product__info-name a{
    line-height: 16px;
    overflow: hidden;
    font-size: 1.8rem;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: var(--color-primary-text);

    font-weight: 400;
   
}

.product__bot-action{
    /* display: flex; */
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: -37px;
    left: 0;
    right: 0;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.product__cart,
.product__like{
    color:var(--white-color);
font-size:2rem;
padding:4px 8px;
background-color: var(--color-primary);
border-radius:4px;
cursor: pointer;
}


.product__cart{
margin-left: 6px;

}

.product__cart:hover,
.product__like:hover{
 filter: brightness(0.9);   
}
.product__buy{
    cursor: pointer;
    background-color: var(--color-primary);
    color:var(--white-color);
    font-size:1.6rem;
border-radius:4px;

padding: 4px 10px;

}
.product__bot-action-left{
    display: flex;
}
.product__info-name a:hover{
    color: var(--color-primary);
  
}
.product__info-price{
font-size: 1.5rem;
position: relative;
    height: 32px;
    overflow: hidden;
}
.price-text{
    color: #eb3e32;
    line-height: 1.3;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 0;
    padding-right: 0px;
    height: 37px;
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.product__info:hover .price-text{
    transform: translateY(-40px);
}

.product__info:hover .product__bot-action{
    transform: translateY(-37px);
}
/* .header__mid-logo a img{
    max-height: 50px;
    width: 180px;
} */


.header{
    padding: 16px 20px;
    background-color:var(--black-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
 

}
.header:hover{
    /* background-color:rgba(40, 40, 40, 0.75) !important; */
    /* transition: all 0.2s ease-in; */
}
.header--scrolled{
    background-color:rgba(40, 40, 40, 0.75);
    transition: all 0.2s ease-in;
}


.header__wrap{
    display: flex;
    /* align-items: center; */
    justify-content:space-between;
}

.header__icon{
    width: 2.5rem;
    cursor: pointer;
}
.header__left{
    display: flex;
    /* align-items:center; */
    width: 20%;
}

.header__icon:nth-child(1){
    margin-right: 12px;
}
.header__mid{
    width: 60%;

}
.header__mid-logo{
    text-align: center;
 
}
.header__mid-brand{
    font-size: 4.5rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header__right{
    width: 20%;
    display: flex;
     /* align-items:center; */
     justify-content: flex-end;
}
.header__right-sign{
    font-size: 1.6rem;
    color: var(--white-color);
    margin-right: 12px;
}

.header__menu{
margin-top: 6px;
}
.menu__list{
    display: flex;
    align-items:center;
    justify-content:center;
}

.menu__item{
    padding: 10px 25px;

    text-align: center;
    position: relative;
  
}
.menu__link{
    color:var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    /* color: #ff9f00; */
    transition: all 0.3s ease-in;
}

.menu__link:hover{
    color:var(--color-primary);
   
}


.sub-menu{
    position: absolute;
    top: calc(100% + 16px);
    left: -28px;
    right: 0;

    background-color: var(--white-color);
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    max-height: 0;
    transition: all 0.4s linear;
    overflow: hidden;
}

.menu__item:hover .sub-menu{
    max-height: 1000px;
    transition: all 0.4s linear;


}
.sub-menu__item{
padding: 14px 25px;
border-bottom: 1px solid var(--color-secondary-text);
cursor: pointer;
}

.sub-menu__item:hover{

 background-color:var(--black-color);
    
    }

    .sub-menu__item:hover .sub-menu__title{

        color: var(--color-primary);
           
           }
.sub-menu__link{

}
.sub-menu__title{
color: var(--black-color);


font-size: 1.4rem;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 1.5px;
}


footer{
    background-color: var(--black-color);
    width: 100%;
    /* height: 400px; */
    padding-bottom: 30px;
}

.container{
    margin-top: 0px;
}

.row{
    display: flex;
    justify-content: start;
}

.container h2{
    color: var(--white-color);
    font-size: 2rem;
}

.footer__mid{
    margin-top: 8%;
}

.footer__mid a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white-color);
}

.footer__mid a:hover{
    color: var(--color-primary);
}

.footer__right{
    display: flex;
    align-items:center;
}

.footer__icon{
    width: 3rem;
    cursor: pointer;
}

.footer__icon:nth-child(1){
    margin-right: 12px;
}

.footer__icon-tick{
    padding-left: 10px;
}

.up-top{
    position: fixed;

   right:20px;
    bottom: 50px;

    width: 50px;
    height: 50px;
display: flex;

    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in;

    opacity: 0;

}
.up-top:hover{
   
    /* transform: scale(1.1); */
    transform:translateY(-10px);

}

.up-top i{
 color: #fff;
 font-size: 2.4rem;

}

.product__like--active{
    color: red;
}